@model Screening
<h2>@Model.Movie.Title</h2>
<div class="thumbnail">
    <img alt="@Model.Movie.Title" src="@Model.Movie.ImageUrl"/>
    <div class="caption-full">
        <h3 class="pull-right">@Model.Movie.Price.ToString("c")</h3>
        <p>@Model.Movie.Description</p>
        <div class="Buy tickets">
            <p class="button">
                <a class="btn btn-primary"
                asp-controller = "Booking"
                asp-action ="CreateBooking"
                asp-route-id="@Model.ScreeningId"
                >
                Book
                </a>
            </p>
        </div>
    </div>
</div>
