@model Screening
<h2>@Model.Movie.Title</h2>
<div>
    <img alt="@Model.Movie.Title" src="@Model.Movie.ImageUrl" style="height:50em;"/>
    <div class="caption-full">
        <h3>@Model.Movie.Price.ToString("c")</h3>
        <h3><strong>@Model.Movie.Genre.GenreName</strong></h3>
        <p>@Model.Movie.Description</p>
        <div class="Buy tickets">
            <p class="button">
                <a class="btn btn-primary"
                asp-controller = "Booking"
                asp-action ="CreateBooking"
                asp-route-id="@Model.ScreeningId"
                >
                Book
                </a>
            </p>
        </div>
    </div>
</div>
